body{
    display: flex;
    font-family:'Times New Roman', Times, serif;
}

header {
    flex-direction: row;
    background-color: blue;
}

h1 {
    display: flex;
    font-family: serif, times new roman, times;
    font-size: 36px;
    display: block;
    text-align: center;
    border: 3px solid black;
    margin: 5px auto;
    padding: 5px;
    background-image: linear-gradient(1deg, purple, transparent);
}

header nav {
    display: inline;
    float: right;
    border: 3px solid indianred;
}

#About-me {
    display: flex;
}

#About-me h2 {
    display: flex;
}

#About-me ul {
    display: flex;
}

#About-me h3 {
    display: flex;
}

#projects {
    display: flex;}

#projects h2 {
    display: flex;
    
}

.button{
    display: flex;
    flex-direction: column;
    scroll-behavior: auto;
    border: 5px solid purple;
}
/* TODO:THEN that application's image should be larger in size than the others (flexbox layout) */
/* TODO:THEN I am taken to that deployed application (link/ a Href) */
/* TODO:THEN I am presented with a responsive layout that adapts to my viewport (Responsive design),  */
